### Import Data

In [42]:
import pandas as pd
path = 'Dataset/chennai_cars.xlsx'
df = pd.read_excel(path)
df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

After observing the data in each

In [43]:
# Convert the string representation of dictionaries to actual dictionaries
df['new_car_detail'] = df['new_car_detail'].apply(eval)

In [44]:
df['new_car_detail'][0]

{'it': 0,
 'ft': 'Petrol',
 'bt': 'SUV',
 'km': '20,000',
 'transmission': 'Automatic',
 'ownerNo': 1,
 'owner': '1st Owner',
 'oem': 'Kia',
 'model': 'Kia Sonet',
 'modelYear': 2022,
 'centralVariantId': 8654,
 'variantName': 'Turbo DCT Anniversary Edition',
 'price': '₹ 11.50 Lakh',
 'priceActual': '',
 'priceSaving': '',
 'priceFixedText': None,
 'trendingText': {'imgUrl': 'https://stimg.cardekho.com/used-cars/common/icons/trending.svg',
  'heading': 'Trending Car!',
  'desc': 'High chances of sale in next 6 days'}}

In [45]:
# Extracting specific fields and creating a new DataFrame
extracted_data = []

for index, row in df.iterrows():
    car_detail = row['new_car_detail']
    extracted_data.append({
        'Fuel Type': car_detail['ft'],
        'Body Type': car_detail['bt'],
        'Kilometers Driven': car_detail['km'],
        'Transmission Type': car_detail['transmission'],
        'Number of Owners': car_detail['ownerNo'],
        'Owner Status': car_detail['owner'],
        'Manufacturer': car_detail['oem'],
        'Model': car_detail['model'],
        'Model Year': car_detail['modelYear'],
        'Variant ID': car_detail['centralVariantId'],
        'Variant Name': car_detail['variantName'],
        'Price': car_detail['price'],
        'Trending Image URL': car_detail['trendingText']['imgUrl'],
        'Trending Heading': car_detail['trendingText']['heading'],
        'Trending Description': car_detail['trendingText']['desc']
    })

# Creating a new DataFrame
new_car_detail_df = pd.DataFrame(extracted_data)

In [46]:
new_car_detail_df

,Fuel Type,Body Type,Kilometers Driven,Transmission Type,Number of Owners,Owner Status,Manufacturer,Model,Model Year,Variant ID,Variant Name,Price,Trending Image URL,Trending Heading,Trending Description
0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,₹ 11.50 Lakh,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,₹ 3.98 Lakh,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,₹ 5.50 Lakh,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,Petrol,Hatchback,"42,891",Automatic,1,1st Owner,Maruti,Maruti Swift,2018,6190,AMT VXI,₹ 6.20 Lakh,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1415,Diesel,SUV,"59,100",Manual,1,1st Owner,Renault,Renault Duster,2018,5050,85PS Diesel RxZ,₹ 8.90 Lakh,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1416,Petrol,SUV,"55,913",Automatic,1,1st Owner,Tata,Tata Nexon,2018,6364,1.2 Revotron XZA Plus,₹ 8.01 Lakh,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1417,Diesel,SUV,"65,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Tiguan,2017,5849,2.0 TDI Highline,₹ 20.50 Lakh,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1418,Diesel,Sedan,"60,000",Automatic,1,1st Owner,BMW,BMW 3 Series GT,2019,6630,Sport,₹ 35.75 Lakh,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [47]:
def clean_data(new_car_detail_df):
        # Extract the location from the path add a colun to the data frame 
    new_car_detail_df['Location'] = path.split('/')[-1].split('_')[0]
    # Function to clean and convert the price column
    def clean_price(price):
        price = price.replace('₹', '').replace(',', '').strip()  # Remove ₹ symbol and commas
        if 'Lakh' in price:
            return int(float(price.replace('Lakh', '').strip()) * 1e5)  # Convert Lakh to integer
        elif 'Crore' in price:
            return int(float(price.replace('Crore', '').strip()) * 1e7)  # Convert Crore to integer
        else:
            return int(price)  # Direct conversion for simple numbers
    # Clean and convert the 'Kilometers Driven' column
    new_car_detail_df['Kilometers Driven'] = new_car_detail_df['Kilometers Driven'].str.replace(',', '').astype(int)
    # Apply the cleaning function to the Price column
    new_car_detail_df['Price'] = new_car_detail_df['Price'].apply(clean_price)
    # Drop column: 'Trending Image URL'
    new_car_detail_df = new_car_detail_df.drop(columns=['Trending Image URL'])
    # Drop column: 'Trending Heading'
    new_car_detail_df = new_car_detail_df.drop(columns=['Trending Heading'])
    # Drop column: 'Trending Description'
    new_car_detail_df = new_car_detail_df.drop(columns=['Trending Description'])
    # Drop column: 'Owner Status' a reapeted
    new_car_detail_df = new_car_detail_df.drop(columns=['Owner Status'])
    
    return new_car_detail_df

new_car_detail_df_clean = clean_data(new_car_detail_df.copy())
new_car_detail_df_clean.head()

,Fuel Type,Body Type,Kilometers Driven,Transmission Type,Number of Owners,Manufacturer,Model,Model Year,Variant ID,Variant Name,Price,Location
0,Petrol,SUV,20000,Automatic,1,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,1150000,chennai
1,Petrol,Minivans,20687,Manual,1,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,415000,chennai
2,Petrol,SUV,30000,Manual,1,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,750000,chennai
3,Petrol,Hatchback,59247,Manual,1,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,398000,chennai
4,Petrol,Hatchback,50000,Manual,1,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,550000,chennai

In [48]:
# Convert the string representation of dictionaries to actual dictionaries
df['new_car_overview'] = df['new_car_overview'].apply(eval)

In [49]:
df['new_car_overview'][0]['top']

[{'key': 'Registration Year',
  'value': '2022',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'},
 {'key': 'Insurance Validity',
  'value': 'Third Party insurance',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'},
 {'key': 'Fuel Type',
  'value': 'Petrol',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'},
 {'key': 'Seats',
  'value': '5 Seats',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'},
 {'key': 'Kms Driven',
  'value': '20,000 Kms',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'},
 {'key': 'RTO',
  'value': 'TN02',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/rto.svg'},
 {'key': 'Ownership',
  'value': 'First Owner',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'},
 {'key': 'Engine Displacement',
  'value': '998 cc',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'},
 {'key': 'Transmission',
  'value': 'Automatic',
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'},
 {'key': 'Year of Manufacture',
  'value': 2022,
  'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}]

In [50]:
def extract_data(data):
    extracted_data = []
    for car in data['new_car_overview']:
        car_data = {item['key']: item['value'] for item in car['top']}
        extracted_data.append(car_data)
    return pd.DataFrame(extracted_data)

car_overview_df = extract_data(df)

In [51]:
car_overview_df

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TN02,First Owner,998 cc,Automatic,2022
1,Feb 2015,Comprehensive,Petrol,7 Seats,"20,687 Kms",TN04,First Owner,1196 cc,Manual,2015
2,2021,Third Party insurance,Petrol,5 Seats,"30,000 Kms",TN22,First Owner,999 cc,Manual,2021
3,May 2015,Comprehensive,Petrol,5 Seats,"59,247 Kms",TN11,First Owner,1086 cc,Manual,2015
4,2015,Third Party insurance,Petrol,5 Seats,"50,000 Kms",KA03,First Owner,1199 cc,Manual,2015
...,...,...,...,...,...,...,...,...,...,...
1414,Jun 2018,Third Party insurance,Petrol,5 Seats,"42,891 Kms",TN09,First Owner,1197 cc,Automatic,2018
1415,Feb 2019,Third Party insurance,Diesel,5 Seats,"59,100 Kms",TN11,First Owner,1461 cc,Manual,2018
1416,Aug 2018,Not Available,Petrol,5 Seats,"55,913 Kms",TN11,First Owner,1198 cc,Automatic,2018
1417,Aug 2017,Comprehensive,Diesel,5 Seats,"65,000 Kms",TN22,First Owner,1968 cc,Automatic,2017
1418,Oct 2019,Comprehensive,Diesel,5 Seats,"60,000 Kms",TN87,First Owner,1995 cc,Automatic,2019

In [52]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(car_overview_df):
    # Derive column 'derivedCol' from column: 'Registration Year'
    # Transform based on the following examples:
    #    Registration Year    Output
    # 1: "Feb 2018"        => "2018"
    car_overview_df.insert(1, "Registration_Year", car_overview_df["Registration Year"].str.split(" ").str[-1])
    # Derive column 'derivedCol' from column: 'Seats'
    # Transform based on the following examples:
    #    Seats        Output
    # 1: "5 Seats" => "5"
    car_overview_df.insert(5, "Car_Seats", car_overview_df["Seats"].str.split(" ").str[0])
    
    # Drop column: 'Registration Year'
    car_overview_df = car_overview_df.drop(columns=['Registration Year'])
    # Drop column: 'Seats'
    car_overview_df = car_overview_df.drop(columns=['Seats'])
    # Drop column: 'Kms Driven'
    car_overview_df = car_overview_df.drop(columns=['Kms Driven'])
    # Drop column: 'Ownership'
    car_overview_df = car_overview_df.drop(columns=['Ownership'])
    # Derive column 'derivedCol' from column: 'Engine Displacement'
    # Transform based on the following examples:
    #    Engine Displacement    Output
    # 1: "1197 cc"           => "1197"
    car_overview_df.insert(7, "Engine_Displacement", car_overview_df["Engine Displacement"].str.split(" ").str[0])
    # Replace missing values with "" in column: 'Engine Displacement'
    car_overview_df = car_overview_df.fillna({'Engine Displacement': ""})
    # Drop column: 'Engine Displacement'
    car_overview_df = car_overview_df.drop(columns=['Engine Displacement'])
    # Replace missing values with the most common value of each column in: 'Insurance Validity'
    car_overview_df = car_overview_df.fillna({'Insurance Validity': car_overview_df['Insurance Validity'].mode()[0]})
    # Replace missing values with the most common value of each column in: 'Car_Seats'
    car_overview_df = car_overview_df.fillna({'Car_Seats': car_overview_df['Car_Seats'].mode()[0]})
    # Replace missing values with the most common value of each column in: 'Engine_Displacement'
    car_overview_df = car_overview_df.fillna({'Engine_Displacement': car_overview_df['Engine_Displacement'].mode()[0]})
    # Replace missing values with the most common value of each column in: 'RTO'
    car_overview_df = car_overview_df.fillna({'RTO': car_overview_df['RTO'].mode()[0]})
    # Drop column: 'Year of Manufacture'
    car_overview_df = car_overview_df.drop(columns=['Year of Manufacture'])
    # Change column type to int32 for column: 'Engine_Displacement'
    car_overview_df = car_overview_df.astype({'Engine_Displacement': 'int32'})
    # Replace gaps forward from the previous valid value in: 'Registration_Year'
    car_overview_df = car_overview_df.fillna({'Registration_Year': car_overview_df['Registration_Year'].ffill()})

    return car_overview_df

car_overview_df_clean = clean_data(car_overview_df.copy())
car_overview_df_clean.head()

,Registration_Year,Insurance Validity,Fuel Type,Car_Seats,RTO,Transmission,Engine_Displacement
0,2022,Third Party insurance,Petrol,5,TN02,Automatic,998
1,2015,Comprehensive,Petrol,7,TN04,Manual,1196
2,2021,Third Party insurance,Petrol,5,TN22,Manual,999
3,2015,Comprehensive,Petrol,5,TN11,Manual,1086
4,2015,Third Party insurance,Petrol,5,KA03,Manual,1199

In [53]:
df['new_car_feature'][0]

"{'heading': 'Features', 'top': [{'value': 'Power Steering'}, {'value': 'Power Windows Front'}, {'value': 'Air Conditioner'}, {'value': 'Heater'}, {'value': 'Adjustable Head Lights'}, {'value': 'Fog Lights Front'}, {'value': 'Anti Lock Braking System'}, {'value': 'Brake Assist'}, {'value': 'Radio'}], 'data': [{'heading': 'Comfort & Convenience', 'subHeading': 'Comfort', 'list': [{'value': 'Power Steering'}, {'value': 'Power Windows Front'}, {'value': 'Power Windows Rear'}, {'value': 'Low Fuel Warning Light'}, {'value': 'Accessory Power Outlet'}, {'value': 'Trunk Light'}, {'value': 'Rear Reading Lamp'}, {'value': 'Rear Seat Headrest'}, {'value': 'Rear Seat Centre Arm Rest'}, {'value': 'Cup Holders Rear'}, {'value': 'Multifunction Steering Wheel'}, {'value': 'Cruise Control'}, {'value': 'Rear ACVents'}, {'value': 'Smart Access Card Entry'}, {'value': 'Engine Start Stop Button'}, {'value': 'Steering Wheel Gearshift Paddles'}, {'value': 'Battery Saver'}, {'value': 'Drive Modes'}, {'value': 'Remote Engine Start Stop'}, {'value': 'Adjustable Headrest'}]}, {'heading': 'Interior', 'subHeading': 'Interior', 'list': [{'value': 'Air Conditioner'}, {'value': 'Heater'}, {'value': 'Adjustable Steering'}, {'value': 'Digital Odometer'}, {'value': 'Electronic Multi Tripmeter'}, {'value': 'Leather Seats'}, {'value': 'Fabric Upholstery'}, {'value': 'Leather Steering Wheel'}, {'value': 'Glove Compartment'}, {'value': 'Digital Clock'}, {'value': 'Driving Experience Control Eco'}, {'value': 'Height Adjustable Driver Seat'}, {'value': 'Leather Wrap Gear Shift Selector'}]}, {'heading': 'Exterior', 'subHeading': 'Exterior', 'list': [{'value': 'Adjustable Head Lights'}, {'value': 'Fog Lights Front'}, {'value': 'Power Adjustable Exterior Rear View Mirror'}, {'value': 'Electric Folding Rear View Mirror'}, {'value': 'Rear Window Defogger'}, {'value': 'Alloy Wheels'}, {'value': 'Integrated Antenna'}, {'value': 'Tinted Glass'}, {'value': 'Rear Spoiler'}, {'value': 'Sun Roof'}, {'value': 'Moon Roof'}, {'value': 'Outside Rear View Mirror Turn Indicators'}, {'value': 'Chrome Grille'}, {'value': 'Roof Rail'}, {'value': 'LEDDRLs'}, {'value': 'LEDHeadlights'}, {'value': 'LEDTaillights'}]}, {'heading': 'Safety', 'subHeading': 'Safety', 'list': [{'value': 'Anti Lock Braking System'}, {'value': 'Brake Assist'}, {'value': 'Centeral Locking'}, {'value': 'Power Door Locks'}, {'value': 'Child Safety Locks'}, {'value': 'Driver Air Bag'}, {'value': 'Passenger Air Bag'}, {'value': 'Side Air Bag Front'}, {'value': 'Day Night Rear View Mirror'}, {'value': 'Passenger Side Rear View Mirror'}, {'value': 'Rear Seat Belts'}, {'value': 'Seat Belt Warning'}, {'value': 'Vehicle Stability Control System'}, {'value': 'Traction Control'}, {'value': 'Adjustable Seats'}, {'value': 'Keyless Entry'}, {'value': 'Engine Check Warning'}, {'value': 'Crash Sensor'}, {'value': 'Automatic Head Lamps'}, {'value': 'Ebd'}, {'value': 'Follow Me Home Headlamps'}, {'value': 'Rear Camera'}, {'value': 'Anti Pinch Power Windows'}, {'value': 'Speed Sensing Auto Door Lock'}, {'value': 'Isofix Child Seat Mounts'}, {'value': 'Pretensioners And Force Limiter Seatbelts'}, {'value': 'Hill Assist'}, {'value': 'Impact Sensing Auto Door Lock'}, {'value': 'No Of Airbags'}, {'value': 'Eletronic Stability Control'}]}, {'heading': 'Entertainment & Communication', 'subHeading': 'Entertainment', 'list': [{'value': 'Radio'}, {'value': 'Speakers Front'}, {'value': 'Speakers Rear'}, {'value': 'Integrated2Din Audio'}, {'value': 'Bluetooth'}, {'value': 'Touch Screen'}, {'value': 'Number Of Speaker'}, {'value': 'Apple Car Play'}, {'value': 'Android Auto'}]}], 'commonIcon': 'https://stimg.cardekho.com/pwa/img/vdpN/tickG.svg'}"

In [54]:
import pandas as pd
import json

new_car_feature_list = []

for data in df['new_car_feature']:
    # Fixing invalid JSON format by replacing single quotes with double quotes
    data = data.replace("'", '"')

    try:
        # Convert the corrected string to a dictionary
        data = json.loads(data)
        
        # Extracting values into separate lists with checks for missing categories
        top_values = ', '.join([item['value'] for item in data.get('top', [])])

        comfort_values = ', '.join([item['value'] for item in data['data'][0].get('list', [])]) if len(data['data']) > 0 else ''
        interior_values = ', '.join([item['value'] for item in data['data'][1].get('list', [])]) if len(data['data']) > 1 else ''
        exterior_values = ', '.join([item['value'] for item in data['data'][2].get('list', [])]) if len(data['data']) > 2 else ''
        safety_values = ', '.join([item['value'] for item in data['data'][3].get('list', [])]) if len(data['data']) > 3 else ''

        # Creating a dictionary to store feature values for each car
        car_features = {
            'top': top_values,
            'Comfort': comfort_values,
            'Interior': interior_values,
            'Exterior': exterior_values,
            'Safety': safety_values
        }

        new_car_feature_list.append(car_features)

    except json.JSONDecodeError as e:
        print(f"Error decoding JSON: {e}")

# Creating DataFrame from the list of dictionaries
new_car_feature_df = pd.DataFrame(new_car_feature_list)

new_car_feature_df

,top,Comfort,Interior,Exterior,Safety
0,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center..."
1,"Low Fuel Warning Light, Accessory Power Outlet...","Low Fuel Warning Light, Accessory Power Outlet...","Heater, Digital Odometer, Electronic Multi Tri...","Adjustable Head Lights, Manually Adjustable Ex...","Anti Lock Braking System, Child Safety Locks, ..."
2,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center..."
3,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Manu...","Centeral Locking, Power Door Locks, Child Safe..."
4,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po..."
...,...,...,...,...,...
1414,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Power Adjustable Exter...","Anti Lock Braking System, Brake Assist, Center..."
1415,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center..."
1416,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po..."
1417,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Fog ...","Anti Lock Braking System, Brake Assist, Center..."
1418,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center..."

In [55]:
df['new_car_specs'].apply(eval)
df['new_car_specs'][0]

"{'heading': 'Specifications', 'top': [{'key': 'Engine', 'value': '998 CC'}, {'key': 'Max Power', 'value': '118.36bhp'}, {'key': 'Torque', 'value': '172nm'}, {'key': 'Wheel Size', 'value': '16'}, {'key': 'Seats', 'value': '5'}], 'data': [{'heading': 'Engine and Transmission', 'subHeading': 'Engine', 'list': [{'key': 'Color', 'value': 'Black'}, {'key': 'Engine Type', 'value': 'Smartstream G1.0 T - GDi'}, {'key': 'Displacement', 'value': '998'}, {'key': 'Max Power', 'value': '118.36bhp@6000rpm'}, {'key': 'Max Torque', 'value': '172nm@1500-4000rpm'}, {'key': 'No of Cylinder', 'value': 3}, {'key': 'Values per Cylinder', 'value': 4}, {'key': 'Fuel Suppy System', 'value': 'GDi'}, {'key': 'Turbo Charger', 'value': 'Yes'}]}, {'heading': 'Dimensions & Capacity', 'subHeading': 'Dimensions', 'list': [{'key': 'Length', 'value': '3995mm'}, {'key': 'Width', 'value': '1790'}, {'key': 'Height', 'value': '1642'}, {'key': 'Wheel Base', 'value': '2500'}, {'key': 'Kerb Weight', 'value': '1465'}]}, {'heading': 'Miscellaneous', 'subHeading': 'Miscellaneous', 'list': [{'key': 'Gear Box', 'value': '7-Speed DCT'}, {'key': 'Drive Type', 'value': 'FWD'}, {'key': 'Seating Capacity', 'value': '5'}, {'key': 'Steering Type', 'value': 'Electric'}, {'key': 'Front Brake Type', 'value': 'Disc'}, {'key': 'Rear Brake Type', 'value': 'Drum'}, {'key': 'Tyre Type', 'value': 'Tubeless, Radial'}, {'key': 'Alloy Wheel Size', 'value': '16'}, {'key': 'No Door Numbers', 'value': '5'}, {'key': 'Cargo Volumn', 'value': '392'}]}], 'commonIcon': ''}"

In [56]:
import json
import re

# Function to convert single-quoted JSON to double-quoted JSON
def convert_to_valid_json(json_str):
    try:
        # Replace single quotes with double quotes
        json_str = re.sub(r"'", '"', json_str)
        return json.loads(json_str)
    except json.JSONDecodeError as e:
        print(f"Error decoding JSON: {e}")
        return None

# List to store all the combined specs
all_specs_list = []

for car_specs_data in df['new_car_specs']:
    # Try parsing if the data is a string, otherwise, proceed
    if isinstance(car_specs_data, str):
        car_specs_data = convert_to_valid_json(car_specs_data)

    # Proceed only if we have a valid dictionary after parsing
    if isinstance(car_specs_data, dict):
        # Extracting values from 'top'
        top_values = {item['key']: item['value'] for item in car_specs_data.get('top', [])}

        # Extracting values from 'data'
        specs = {}
        for section in car_specs_data.get('data', []):
            for item in section.get('list', []):
                specs[item['key']] = item['value']

        # Combine 'top' and 'data' into a single dictionary
        all_specs = {**top_values, **specs}

        # Append the combined specs to the list
        all_specs_list.append(all_specs)
    else:
        print(f"Skipping invalid data: {car_specs_data}")

# Convert the list of dictionaries into a DataFrame
df_new_car_specs = pd.DataFrame(all_specs_list)

# Display the new DataFrame
df_new_car_specs.head(2)

,Engine,Max Power,Torque,Wheel Size,Seats,Color,Engine Type,Displacement,Max Torque,No of Cylinder,...,Compression Ratio,Super Charger,Front Tread,Rear Tread,Gross Weight,Turning Radius,Top Speed,Acceleration,BoreX Stroke,Ground Clearance Unladen
0,998 CC,118.36bhp@6000rpm,172nm,16,5,Black,Smartstream G1.0 T - GDi,998,172nm@1500-4000rpm,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1196 CC,73bhp@6000rpm,101Nm,NaN,7,Grey,In-Line Engine,1196,101Nm@3000rpm,4.0,...,9.9:1,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN

In [57]:
df_new_car_specs.sample(5).T
#Color,Engine Type,Fuel Suppy System,Turbo Charger,Drive Type,Steering Type,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,Value Configuration,Super Charger

,43,836,175,141,986
Engine,998 CC,1199 CC,2179 CC,1197 CC,1248 CC
Max Power,98.63bhp@6000rpm,88.76bhp@6000rpm,140bhp@3750rpm,81.83bhp@6000rpm,88.5bhp@4000rpm
Torque,172nm,110Nm,330Nm,114.7Nm,200Nm
Wheel Size,15,R15,NaN,16,16
Seats,5,5,7,5,5
Color,Black,Blue,Others,Red,Silver
Engine Type,1.0 Turbo GDi petrol,i-VTEC Petrol Engine,mHawk Diesel Engine,Kappa VTVT Petrol Engine,DDiS 200 Diesel Engine
Displacement,998,1199,2179,1197,1248
Max Torque,172nm@1500-4000rpm,110Nm@4800rpm,330Nm@1600-2800rpm,114.7Nm@4000rpm,200Nm@1750rpm
No of Cylinder,3.0,4.0,4.0,4.0,4.0
Values per Cylinder,4.0,4.0,4.0,4.0,4.0
Fuel Suppy System,NaN,MPFi,Direct Injection,MPFI,CRDi
Turbo Charger,Yes,No,Yes,No,Yes
Length,3805mm,3995mm,4585mm,3985mm,3995mm
Width,1680,1695mm,1890mm,1734mm,1790mm
Height,1520,1501mm,1785mm,1505mm,1640mm
Wheel Base,2450,2470mm,2700mm,2570mm,2500mm
Kerb Weight,1180,924kg,1900,1066kg,1190kg
Gear Box,5-Speed,5 Speed,6 Speed,5 Speed,5 Speed
Drive Type,NaN,FWD,FWD,FWD,FWD
Seating Capacity,5,5,7,5,5
Steering Type,Electric,Electric,Power,Power,Power
Front Brake Type,Disc,Disc,Disc & Caliper Type,Disc,Ventilated Disc
Rear Brake Type,Drum,Drum,Disc & Caliper Type,Drum,Drum
Tyre Type,"Tubeless, Radial","Tubeless,Radial","Tubeless,Radial",Tubeless,"Tubeless,Radial"
Alloy Wheel Size,15,R15,NaN,16,16
No Door Numbers,5,4,5,5,5
Cargo Volumn,NaN,420,NaN,295-litres,328-litres
Mileage,20.7 kmpl,18.6 kmpl,15.1 kmpl,18.6 kmpl,24.3 kmpl
Value Configuration,NaN,SOHC,DOHC,DOHC,DOHC
Compression Ratio,NaN,NaN,NaN,NaN,NaN
Super Charger,NaN,No,No,No,No
Front Tread,NaN,NaN,NaN,1505mm,NaN
Rear Tread,NaN,NaN,NaN,1503mm,NaN
Gross Weight,NaN,NaN,2450kg,NaN,1680kg
Turning Radius,NaN,4.7,5.6 metres,5.2 metres,5.2 meters
Top Speed,NaN,NaN,175 kmph,170 Kmph,172 kmph
Acceleration,NaN,15 Seconds,12.5 Seconds,13.2 Seconds,12.36 Seconds
BoreX Stroke,NaN,NaN,NaN,NaN,69.6 X 82
Ground Clearance Unladen,NaN,NaN,NaN,NaN,NaN

In [58]:
df_new_car_specs.columns

Index(['Engine', 'Max Power', 'Torque', 'Wheel Size', 'Seats', 'Color',
       'Engine Type', 'Displacement', 'Max Torque', 'No of Cylinder',
       'Values per Cylinder', 'Fuel Suppy System', 'Turbo Charger', 'Length',
       'Width', 'Height', 'Wheel Base', 'Kerb Weight', 'Gear Box',
       'Drive Type', 'Seating Capacity', 'Steering Type', 'Front Brake Type',
       'Rear Brake Type', 'Tyre Type', 'Alloy Wheel Size', 'No Door Numbers',
       'Cargo Volumn', 'Mileage', 'Value Configuration', 'Compression Ratio',
       'Super Charger', 'Front Tread', 'Rear Tread', 'Gross Weight',
       'Turning Radius', 'Top Speed', 'Acceleration', 'BoreX Stroke',
       'Ground Clearance Unladen'],
      dtype='object')

In [59]:
import numpy as np
import re
import pandas as pd



def clean_data(df_new_car_specs):
    # Function to extract numeric power value from 'Max Power' column
    def extract_max_power(value):
        if isinstance(value, str):
            match = re.search(r'(\d+\.?\d*)\s*(bhp|PS)', value)
            if match:
                return float(match.group(1))  # Extract numeric part
        return np.nan

    # Apply the function to the 'Max Power' column
    df_new_car_specs['Max Power'] = df_new_car_specs['Max Power'].apply(extract_max_power)

    # Helper function to extract numeric values from strings
    def extract_numeric(value):
        if isinstance(value, str):
            value = re.sub(r'[^\d.]', '', value)  # Remove non-numeric characters
            value = re.sub(r'\.(?=.*\.)', '', value)  # Ensure only one decimal point
            if value:
                return float(value)
        return np.nan

    # Correct list of categorical columns
    catagoric_columns = ['Color', 'Engine Type', 'Fuel Suppy System', 'Turbo Charger', 
                         'Drive Type', 'Steering Type', 'Front Brake Type', 
                         'Rear Brake Type', 'Tyre Type', 'Value Configuration', 'Super Charger']
    
    # Apply the numeric extraction function to relevant columns
    numeric_columns = ['Engine', 'Mileage', 'Torque', 'Alloy Wheel Size', 'Wheel Base', 
                       'Rear Tread', 'Front Tread', 'Kerb Weight', 'Gross Weight', 
                       'Length', 'Width', 'Height', 'Turning Radius', 'Cargo Volumn', 
                       'Top Speed', 'Acceleration', 'Gear Box', 'Wheel Size']

    for col in numeric_columns:
        df_new_car_specs[col] = df_new_car_specs[col].apply(extract_numeric)

    # Filling missing values for various columns
    fill_strategies = {
        'Alloy Wheel Size': df_new_car_specs['Alloy Wheel Size'].mode()[0],
        'No of Cylinder': df_new_car_specs['No of Cylinder'].mode()[0],
        'Torque': df_new_car_specs['Torque'].mean(),
        'Wheel Base': df_new_car_specs['Wheel Base'].mode()[0],
        'Mileage': df_new_car_specs['Mileage'].mean(),
        'Engine Type': 'Default',
        'Value Configuration': 'Default',
        'Fuel Suppy System': 'Default',
        'Turbo Charger': 'Default',
        'Super Charger': 'Default',
        'Drive Type': df_new_car_specs['Drive Type'].ffill(),
        'Steering Type': df_new_car_specs['Steering Type'].mode()[0],
        'Front Brake Type': df_new_car_specs['Front Brake Type'].ffill(),
        'Rear Brake Type': df_new_car_specs['Rear Brake Type'].ffill(),
        'Tyre Type': df_new_car_specs['Tyre Type'].ffill(),
        'No Door Numbers': df_new_car_specs['No Door Numbers'].mode()[0],
        'Cargo Volumn': df_new_car_specs['Cargo Volumn'].median(),
        'Max Power': df_new_car_specs['Max Power'].median(),
        'Front Tread': df_new_car_specs['Front Tread'].median(),
        'Rear Tread': df_new_car_specs['Rear Tread'].median(),
        'Kerb Weight': df_new_car_specs['Kerb Weight'].median(),
        'Gross Weight': df_new_car_specs['Gross Weight'].median(),
        'Width': df_new_car_specs['Width'].median(),
        'Length': df_new_car_specs['Length'].median(),
        'Height': df_new_car_specs['Height'].median(),
        'Turning Radius': df_new_car_specs['Turning Radius'].mode()[0],
        'Gear Box': df_new_car_specs['Gear Box'].mode()[0],
        'Acceleration': df_new_car_specs['Acceleration'].median(),
        'Top Speed': df_new_car_specs['Top Speed'].median(),
        'Wheel Size': df_new_car_specs['Wheel Size'].mode()[0],
        'Color': df_new_car_specs['Color'].mode()[0],
        'Values per Cylinder': df_new_car_specs['Values per Cylinder'].mode()[0]
    }

    df_new_car_specs.fillna(fill_strategies, inplace=True)

    # Convert columns to the correct data types
    df_new_car_specs = df_new_car_specs.astype({
        'No of Cylinder': 'int16', 'Wheel Base': 'int16',
        'Length': 'int16', 'Width': 'int16', 'Height': 'int16',
        'Gross Weight': 'int16', 'Kerb Weight': 'int16', 'Gear Box': 'int8',
        'No Door Numbers': 'int8','Wheel Size': 'int16','Values per Cylinder': 'int16'
    })

    # Drop unnecessary columns
    columns_to_drop = ['Ground Clearance Unladen', 'BoreX Stroke', 'Seating Capacity', 
                       'Max Torque', 'Displacement', 'Turning Radius', 
                       'Rear Tread', 'Front Tread', 'Compression Ratio']
    
    df_new_car_specs.drop(columns=columns_to_drop, inplace=True)

    return df_new_car_specs


# Clean the data
df_new_car_specs_clean = clean_data(df_new_car_specs.copy())

# Display the first few rows of the cleaned data
df_new_car_specs_clean.head()

,Engine,Max Power,Torque,Wheel Size,Seats,Color,Engine Type,No of Cylinder,Values per Cylinder,Fuel Suppy System,...,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Mileage,Value Configuration,Super Charger,Gross Weight,Top Speed,Acceleration
0,998.0,118.36,172.00,16,5,Black,Smartstream G1.0 T - GDi,3,4,GDi,...,"Tubeless, Radial",16.0,5,392.0,19.263411,NA,NA,1520,170.0,13.2
1,1196.0,73.00,101.00,16,7,Grey,In-Line Engine,4,4,MPFi,...,Tubeless Tyres,16.0,5,540.0,15.370000,DOHC,No,1540,145.0,15.7
2,999.0,98.63,160.00,16,5,Others,HRA0 1.0 TURBO PETROL,3,4,MPFi,...,"Tubeless,Radial",16.0,5,336.0,20.000000,SOHC,No,1520,170.0,11.7
3,1086.0,68.05,99.04,16,5,Silver,IRDE2 Engine,4,3,MPFI,...,Tubeless,16.0,5,225.0,19.810000,SOHC,No,1520,165.0,14.3
4,1199.0,88.70,110.00,15,5,Others,i-VTEC Petrol Engine,4,4,PGM - Fi,...,"Tubeless,Radial",15.0,5,354.0,18.700000,SOHC,No,1520,172.0,13.7

In [60]:
df_new_car_specs_clean.isnull().sum()

Engine                 0
Max Power              0
Torque                 0
Wheel Size             0
Seats                  0
Color                  0
Engine Type            0
No of Cylinder         0
Values per Cylinder    0
Fuel Suppy System      0
Turbo Charger          0
Length                 0
Width                  0
Height                 0
Wheel Base             0
Kerb Weight            0
Gear Box               0
Drive Type             0
Steering Type          0
Front Brake Type       0
Rear Brake Type        0
Tyre Type              0
Alloy Wheel Size       0
No Door Numbers        0
Cargo Volumn           0
Mileage                0
Value Configuration    0
Super Charger          0
Gross Weight           0
Top Speed              0
Acceleration           0
dtype: int64

In [61]:
import numpy as np
import re


all_columns = ['Engine', 'Max Power', 'Torque', 'Wheel Size', 'Seats', 'Color',
       'Engine Type', 'Displacement', 'Max Torque', 'No of Cylinder',
       'Values per Cylinder', 'Fuel Suppy System', 'Turbo Charger', 'Length',
       'Width', 'Height', 'Wheel Base', 'Kerb Weight', 'Gear Box',
       'Drive Type', 'Seating Capacity', 'Steering Type', 'Front Brake Type',
       'Rear Brake Type', 'Tyre Type', 'Alloy Wheel Size', 'No Door Numbers',
       'Cargo Volumn', 'Mileage', 'Value Configuration', 'Compression Ratio',
       'Super Charger', 'Front Tread', 'Rear Tread', 'Gross Weight',
       'Turning Radius', 'Top Speed', 'Acceleration', 'BoreX Stroke',
       'Ground Clearance Unladen']

def clean_data(df_new_car_specs):
    
    # Function to extract numeric power value from 'Max Power' column
    def extract_max_power(value):
        if isinstance(value, str):
            match = re.search(r'(\d+\.?\d*)\s*(bhp|PS)', value)
            if match:
                return float(match.group(1))  # Extract numeric part
        return None

    # Apply the function to the 'Max Power' column
    df_new_car_specs['Max_Power'] = df_new_car_specs['Max Power'].apply(extract_max_power)
    

    # Helper function to extract numeric values from strings
    def extract_numeric(value):
        if isinstance(value, str):
            value = re.sub(r'[^\d.]', '', value)  # Remove non-numeric characters
            value = re.sub(r'\.(?=.*\.)', '', value)  # Ensure only one decimal point
            if value:
                return float(value)
        return np.nan


    #catagoric columns 
    catagoric_columns = [Color,Engine Type,Fuel Suppy System,Turbo Charger,Drive Type,Steering Type,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,Value Configuration,Super Charger]
    # Apply the numeric extraction function to relevant columns
    numeric_columns = ['Engine','Mileage','Torque', 'Alloy Wheel Size', 'Wheel Base', 'Rear Tread', 
                       'Front Tread', 'Kerb Weight', 'Gross Weight', 'Length', 
                       'Width', 'Height', 'Turning Radius', 'Cargo Volumn', 
                       'Top Speed', 'Acceleration', 'Gear Box','Wheel Size']
    
    for col in numeric_columns:
        df_new_car_specs[col] = df_new_car_specs[col].apply(extract_numeric)

    # Handle missing values for various columns with appropriate strategies
    fill_strategies = {
        'Alloy Wheel Size': df_new_car_specs['Alloy Wheel Size'].mode()[0],
        'No of Cylinder': df_new_car_specs['No of Cylinder'].mode()[0],
        'Torque_Nm': df_new_car_specs['Torque_Nm'].mean(),
        'Wheel_Base': df_new_car_specs['Wheel_Base'].mode()[0],
        'Mileage_kmpl': df_new_car_specs['Mileage_kmpl'].mean(),
        'Engine Type': 'default',
        'Value Configuration': 'NA',
        'Fuel Suppy System': 'NA',
        'Turbo Charger': 'NA',
        'Super Charger': 'NA',
        'Drive Type': df_new_car_specs['Drive Type'].ffill(),
        'Steering Type': df_new_car_specs['Steering Type'].mode()[0],
        'Front Brake Type': df_new_car_specs['Front Brake Type'].ffill(),
        'Rear Brake Type': df_new_car_specs['Rear Brake Type'].ffill(),
        'Tyre Type': df_new_car_specs['Tyre Type'].ffill(),
        'No Door Numbers': df_new_car_specs['No Door Numbers'].mode()[0],
        'Cargo Volumn': df_new_car_specs['Cargo Volumn'].median(),
        'Max_Power': df_new_car_specs['Max_Power'].median(),
        'Front_Tread': df_new_car_specs['Front_Tread'].median(),
        'Rear_Tread': df_new_car_specs['Rear_Tread'].median(),
        'Kerb_Weight': df_new_car_specs['Kerb_Weight'].median(),
        'Gross_Weight': df_new_car_specs['Gross_Weight'].median(),
        'Width_mm': df_new_car_specs['Width_mm'].median(),
        'Length_mm': df_new_car_specs['Length_mm'].median(),
        'Height_mm': df_new_car_specs['Height_mm'].median(),
        'Turning_Radius': df_new_car_specs['Turning_Radius'].mode()[0],
        'Gear_Box_speed': df_new_car_specs['Gear_Box_speed'].mode()[0],
        'Acceleration_in_sec': df_new_car_specs['Acceleration_in_sec'].median(),
        'Top_Speed_kmph': df_new_car_specs['Top_Speed_kmph'].median(),
        'Wheel Size' : df_new_car_specs['Wheel Size'].mode()[0],
        'No of Cylinder' : df_new_car_specs['No of Cylinder'].mode()[0],
        'Color': df_new_car_specs['Color'].mode()[0]
    }

    df_new_car_specs.fillna(fill_strategies, inplace=True)

    # Convert columns to the correct data types
    df_new_car_specs = df_new_car_specs.astype({
        'No of Cylinder': 'int16', 'Wheel_Base': 'int16',
        'Length_mm': 'int16', 'Width_mm': 'int16', 'Height_mm': 'int16',
        'Gross_Weight': 'int16', 'Kerb_Weight': 'int16', 'Gear_Box_speed': 'int8',
        'No Door Numbers': 'int8'
    })

    return df_new_car_specs

    # Drop unnecessary columns
    columns_to_drop = ['Ground Clearance Unladen', 'Engine', 'Seats', 'Values per Cylinder', 
                       'BoreX Stroke', 'Seating Capacity', 'Length', 'Width', 'Height', 
                       'Kerb Weight', 'Gross Weight', 'Torque', 'Max Power', 'Max Torque', 
                       'Acceleration', 'Displacement', 'Turning Radius', 'Top Speed', 
                       'Gear Box', 'Rear Tread', 'Front Tread', 'Wheel Base', 'Compression Ratio']
    
    df_new_car_specs = df_new_car_specs.drop(columns=columns_to_drop)


# Clean the data
df_new_car_specs_clean = clean_data(df_new_car_specs.copy())

# Display the first few rows of the cleaned data
df_new_car_specs_clean.head()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1846696167.py, line 41)

In [858]:
"""
Cell generated by Data Wrangler.
"""
import numpy as np

def clean_data(df_new_car_specs):
    
    # Function to extract max power
    def extract_max_power(value):
        if isinstance(value, str):
            # Extract numeric value before 'bhp' or 'PS'
            match = re.search(r'(\d+\.?\d*)\s*(bhp|PS)', value)
            if match:
                return float(match.group(1))
        return None

    # Apply the function to the 'Max Power' column
    df_new_car_specs['Max_Power'] = df_new_car_specs['Max Power'].apply(extract_max_power)
    # Drop column: 'Ground Clearance Unladen'
    df_new_car_specs = df_new_car_specs.drop(columns=['Ground Clearance Unladen'])
    # Derive column 'Mileage_kmpl' from column: 'Mileage'
    # Transform based on the following examples:
    #    Mileage        Output
    # 1: "23.1 kmpl" => "23.1"
    df_new_car_specs.insert(1, "Mileage_kmpl", df_new_car_specs["Mileage"].str.split(" ").str[0])
    # Drop column: 'Mileage'
    df_new_car_specs = df_new_car_specs.drop(columns=['Mileage'])
    # Drop column: 'Engine'
    df_new_car_specs = df_new_car_specs.drop(columns=['Engine'])
    # Drop column: 'Seats'
    df_new_car_specs = df_new_car_specs.drop(columns=['Seats'])
    # Drop column: 'Values per Cylinder'
    df_new_car_specs = df_new_car_specs.drop(columns=['Values per Cylinder'])
    # Drop column: 'BoreX Stroke'
    df_new_car_specs = df_new_car_specs.drop(columns=['BoreX Stroke'])
    # Drop column: 'Seating Capacity'
    df_new_car_specs = df_new_car_specs.drop(columns=['Seating Capacity'])
    # Drop column: 'Alloy Wheel Size'
    # df_new_car_specs = df_new_car_specs.drop(columns=['Alloy Wheel Size'])
    # Replace all instances of "" with "" in column: 'Wheel Size'
    df_new_car_specs['Wheel Size'] = df_new_car_specs['Wheel Size'].str.replace("R", "", case=False, regex=False)
    # Replace missing values with the most common value of each column in: 'Wheel Size'
    df_new_car_specs = df_new_car_specs.fillna({'Wheel Size': df_new_car_specs['Wheel Size'].mode()[0]})
    # Change column type to int16 for column: 'Wheel Size'
    df_new_car_specs = df_new_car_specs.astype({'Wheel Size': 'int16'})
    # Replace missing values with the most common value of each column in: 'Color'
    df_new_car_specs = df_new_car_specs.fillna({'Color': df_new_car_specs['Color'].mode()[0]})
    # Change column type to float32 for column: 'Mileage_kmpl'
    df_new_car_specs = df_new_car_specs.astype({'Mileage_kmpl': 'float32'})
    df_new_car_specs = df_new_car_specs.astype({'No of Cylinder': 'float32'})

    def extract_numeric(value):
        if isinstance(value, str):
            # Remove any non-numeric characters except for a single decimal point
            value = re.sub(r'[^\d.]', '', value)
            # Ensure only one decimal point is present
            value = re.sub(r'\.(?=.*\.)', '', value)
            if value:
                try:
                    return float(value)  # Convert to float for standardization
                except ValueError:
                    return np.nan  # Return NaN if conversion fails
        return np.nan 

    df_new_car_specs['Torque_Nm'] = df_new_car_specs['Torque'].apply(extract_numeric)
    
    df_new_car_specs['Alloy Wheel Size'] = df_new_car_specs['Alloy Wheel Size'].apply(extract_numeric)
    df_new_car_specs['Wheel_Base'] = df_new_car_specs['Wheel Base'].apply(extract_numeric)
    df_new_car_specs['Rear_Tread'] = df_new_car_specs['Rear Tread'].apply(extract_numeric)
    df_new_car_specs['Front_Tread'] = df_new_car_specs['Front Tread'].apply(extract_numeric)
    df_new_car_specs['Kerb_Weight'] = df_new_car_specs['Kerb Weight'].apply(extract_numeric)
    df_new_car_specs['Gross_Weight'] = df_new_car_specs['Gross Weight'].apply(extract_numeric)
    df_new_car_specs['Length_mm'] = df_new_car_specs['Length'].apply(extract_numeric)
    df_new_car_specs['Width_mm'] = df_new_car_specs['Width'].apply(extract_numeric)
    df_new_car_specs['Height_mm'] = df_new_car_specs['Height'].apply(extract_numeric)
    df_new_car_specs['Turning_Radius'] = df_new_car_specs['Turning Radius'].apply(extract_numeric)
    # df_new_car_specs = df_new_car_specs.drop(columns=['Turning Radius'])
    # Replace all instances of "" with "" in column: 'Cargo Volumn'
    df_new_car_specs['Cargo Volumn'] = df_new_car_specs['Cargo Volumn'].apply(extract_numeric)
    df_new_car_specs['Top_Speed_kmph'] = df_new_car_specs['Top Speed'].apply(extract_numeric)
    df_new_car_specs['Acceleration_in_sec'] = df_new_car_specs['Acceleration'].apply(extract_numeric)
    df_new_car_specs['Gear_Box_speed'] = df_new_car_specs['Gear Box'].apply(extract_numeric)
    # df_new_car_specs['Turning_Radius_in_mtr'] = df_new_car_specs['Turning Radius'].apply(extract_numeric)
    df_new_car_specs = df_new_car_specs.drop(columns=['Length','Width','Height'])
    df_new_car_specs = df_new_car_specs.drop(columns=['Kerb Weight','Gross Weight'])
    # df_new_car_specs = df_new_car_specs.drop(columns=['Width'])
    df_new_car_specs = df_new_car_specs.drop(columns=['Torque','Max Power','Max Torque','Acceleration','Displacement'])
    df_new_car_specs = df_new_car_specs.drop(columns=['Turning Radius','Top Speed','Gear Box'])
    df_new_car_specs = df_new_car_specs.drop(columns=['Rear Tread','Front Tread','Wheel Base'])
    # 80 % data have missing values
    df_new_car_specs = df_new_car_specs.drop(columns=['Compression Ratio'])
    df_new_car_specs = df_new_car_specs.drop(columns=['Wheel Size'])
    df_new_car_specs = df_new_car_specs.fillna({'Alloy Wheel Size': df_new_car_specs['Alloy Wheel Size'].mode()[0]})
    # Replace missing values with the mode of each column in: 'No of Cylinder'
    df_new_car_specs = df_new_car_specs.fillna({'No of Cylinder': df_new_car_specs['No of Cylinder'].mode()[0]})
    # Change column type to int16 for column: 'No of Cylinder'
    df_new_car_specs = df_new_car_specs.astype({'No of Cylinder': 'int16'})
    # Replace missing values with the mean of each column in: 'Torque_Nm'
    df_new_car_specs = df_new_car_specs.fillna({'Torque_Nm': df_new_car_specs['Torque_Nm'].mean()})
    # Replace missing values with the mode of each column in: 'Wheel_Base'
    df_new_car_specs = df_new_car_specs.fillna({'Wheel_Base': df_new_car_specs['Wheel_Base'].mode()[0]})
    # Change column type to int16 for column: 'Wheel_Base'
    df_new_car_specs = df_new_car_specs.astype({'Wheel_Base': 'int16'})
    # Replace missing values with the mean of each column in: 'Mileage_kmpl'
    df_new_car_specs = df_new_car_specs.fillna({'Mileage_kmpl': df_new_car_specs['Mileage_kmpl'].mean()})
    # Replace missing values with "not available" in column: 'Engine Type'
    df_new_car_specs = df_new_car_specs.fillna({'Engine Type': "not available"})
    # Replace missing values with "default" in column: 'Engine Type'
    df_new_car_specs = df_new_car_specs.fillna({'Engine Type': "default"})
    # Replace missing values with "NA" in column: 'Value Configuration'
    df_new_car_specs = df_new_car_specs.fillna({'Value Configuration': "NA"})
    # Replace missing values with "NA" in column: 'Fuel Suppy System'
    df_new_car_specs = df_new_car_specs.fillna({'Fuel Suppy System': "NA"})
    # Replace missing values with "NA" in column: 'Turbo Charger'
    df_new_car_specs = df_new_car_specs.fillna({'Turbo Charger': "NA"})
    # Replace missing values with "NA" in column: 'Super Charger'
    df_new_car_specs = df_new_car_specs.fillna({'Super Charger': "NA"})
    # Replace gaps forward from the previous valid value in: 'Drive Type'
    df_new_car_specs = df_new_car_specs.fillna({'Drive Type': df_new_car_specs['Drive Type'].ffill()})
    # Replace missing values with the most common value of each column in: 'Steering Type'
    df_new_car_specs = df_new_car_specs.fillna({'Steering Type': df_new_car_specs['Steering Type'].mode()[0]})
    # Replace gaps forward from the previous valid value in: 'Front Brake Type', 'Rear Brake Type', 'Tyre Type'
    df_new_car_specs = df_new_car_specs.fillna({'Front Brake Type': df_new_car_specs['Front Brake Type'].ffill(), 'Rear Brake Type': df_new_car_specs['Rear Brake Type'].ffill(), 'Tyre Type': df_new_car_specs['Tyre Type'].ffill()})
    # Replace missing values with the most common value of each column in: 'No Door Numbers'
    df_new_car_specs = df_new_car_specs.fillna({'No Door Numbers': df_new_car_specs['No Door Numbers'].mode()[0]})
    # Change column type to int8 for column: 'No Door Numbers'
    df_new_car_specs = df_new_car_specs.astype({'No Door Numbers': 'int8'})
    # Replace missing values with the median of each column in: 'Cargo Volumn'
    df_new_car_specs = df_new_car_specs.fillna({'Cargo Volumn': df_new_car_specs['Cargo Volumn'].median()})
    # Replace missing values with the median of each column in: 'Max_Power'
    df_new_car_specs = df_new_car_specs.fillna({'Max_Power': df_new_car_specs['Max_Power'].median()})
    # Replace missing values with the median of each column in: 'Front_Tread', 'Rear_Tread' and 2 other columns
    df_new_car_specs = df_new_car_specs.fillna({'Front_Tread': df_new_car_specs['Front_Tread'].median(), 'Rear_Tread': df_new_car_specs['Rear_Tread'].median(), 'Kerb_Weight': df_new_car_specs['Kerb_Weight'].median(), 'Gross_Weight': df_new_car_specs['Gross_Weight'].median()})
    # Replace missing values with the median of each column in: 'Width_mm', 'Length_mm', 'Height_mm'
    df_new_car_specs = df_new_car_specs.fillna({'Width_mm': df_new_car_specs['Width_mm'].median(), 'Length_mm': df_new_car_specs['Length_mm'].median(), 'Height_mm': df_new_car_specs['Height_mm'].median()})
    # Change column type to int16 for columns: 'Length_mm', 'Width_mm' and 3 other columns
    df_new_car_specs = df_new_car_specs.astype({'Length_mm': 'int16', 'Width_mm': 'int16', 'Height_mm': 'int16', 'Gross_Weight': 'int16', 'Kerb_Weight': 'int16'})
    # Replace missing values with the mode of each column in: 'Turning_Radius'
    df_new_car_specs = df_new_car_specs.fillna({'Turning_Radius': df_new_car_specs['Turning_Radius'].mode()[0]})
    # Replace missing values with the mode of each column in: 'Gear_Box_speed'
    df_new_car_specs = df_new_car_specs.fillna({'Gear_Box_speed': df_new_car_specs['Gear_Box_speed'].mode()[0]})
    # Change column type to int8 for column: 'Gear_Box_speed'
    df_new_car_specs = df_new_car_specs.astype({'Gear_Box_speed': 'int8'})
    # Replace missing values with the median of each column in: 'Gear_Box_speed'
    df_new_car_specs = df_new_car_specs.fillna({'Gear_Box_speed': df_new_car_specs['Gear_Box_speed'].median()})
    # Replace missing values with the median of each column in: 'Acceleration_in_sec', 'Top_Speed_kmph'
    df_new_car_specs = df_new_car_specs.fillna({'Acceleration_in_sec': df_new_car_specs['Acceleration_in_sec'].median(), 'Top_Speed_kmph': df_new_car_specs['Top_Speed_kmph'].median()})
    
    return df_new_car_specs

df_new_car_specs_clean = clean_data(df_new_car_specs.copy())
df_new_car_specs_clean.head()

,Mileage_kmpl,Color,Engine Type,No of Cylinder,Fuel Suppy System,Turbo Charger,Drive Type,Steering Type,Front Brake Type,Rear Brake Type,...,Front_Tread,Kerb_Weight,Gross_Weight,Length_mm,Width_mm,Height_mm,Turning_Radius,Top_Speed_kmph,Acceleration_in_sec,Gear_Box_speed
0,19.263411,Black,Smartstream G1.0 T - GDi,3,GDi,Yes,FWD,Electric,Disc,Drum,...,1492.0,1465,1520,3995,1790,1642,5.3,170.0,13.2,7
1,15.370000,Grey,In-Line Engine,4,MPFi,No,RWD,Manual,Ventilated Disc,Drum,...,1280.0,943,1540,3675,1475,1800,4.5,145.0,15.7,5
2,20.000000,Others,HRA0 1.0 TURBO PETROL,3,MPFi,Yes,RWD,Electronic,Disc,Drum,...,1492.0,1014,1520,3994,1758,1572,5.0,170.0,11.7,5
3,19.809999,Silver,IRDE2 Engine,4,MPFI,No,FWD,Power,Ventilated Disc,Drum,...,1400.0,860,1520,3585,1595,1550,4.7,165.0,14.3,5
4,18.700001,Others,i-VTEC Petrol Engine,4,PGM - Fi,No,FWD,Power,Disc,Drum,...,1492.0,1042,1520,3955,1694,1544,5.1,172.0,13.7,5

In [859]:
df_new_car_specs_clean.isnull().sum()

Mileage_kmpl           0
Color                  0
Engine Type            0
No of Cylinder         0
Fuel Suppy System      0
Turbo Charger          0
Drive Type             0
Steering Type          0
Front Brake Type       0
Rear Brake Type        0
Tyre Type              0
Alloy Wheel Size       0
No Door Numbers        0
Cargo Volumn           0
Value Configuration    0
Super Charger          0
Max_Power              0
Torque_Nm              0
Wheel_Base             0
Rear_Tread             0
Front_Tread            0
Kerb_Weight            0
Gross_Weight           0
Length_mm              0
Width_mm               0
Height_mm              0
Turning_Radius         0
Top_Speed_kmph         0
Acceleration_in_sec    0
Gear_Box_speed         0
dtype: int64

In [809]:
# Concatenate by columns
df_concatenated_columns = pd.concat([new_car_detail_df_clean, car_overview_df_clean,df_new_car_specs_clean], axis=1)

In [810]:
# # Reset the index of the appended DataFrame (optional)
df_concatenated_columns.reset_index(drop=True, inplace=True)
# # Concatenate by columns
# df_concatenated_columns = pd.concat([new_car_detail_df_clean, car_overview_df_clean,df_new_car_specs_clean], axis=1)

In [811]:
df_concatenated_columns.T

,0,1,2,3,4,5,6,7,8,9,...,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119
Fuel Type,Diesel,Petrol,Petrol,Petrol,Petrol,Diesel,Petrol,Diesel,Diesel,Diesel,...,Petrol,Petrol,Diesel,Petrol,Diesel,Petrol,Petrol,Petrol,Petrol,Petrol
Body Type,Hatchback,Hatchback,Hatchback,Hatchback,Hatchback,Sedan,Sedan,Sedan,SUV,Sedan,...,Hatchback,Hatchback,Hatchback,Hatchback,SUV,Hatchback,Hatchback,SUV,Hatchback,Hatchback
Kilometers Driven,120000,66951,80000,44392,40000,150000,91771,90000,58621,90000,...,150000,150000,120000,150000,100000,120000,70000,20000,40000,80000
Transmission Type,Manual,Manual,Automatic,Manual,Automatic,Manual,Manual,Automatic,Automatic,Automatic,...,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual
Number of Owners,2,1,2,1,1,2,2,1,1,1,...,1,1,2,1,1,1,1,1,1,1
Manufacturer,Hyundai,Maruti,Maruti,Hyundai,Maruti,Hyundai,Hyundai,Skoda,BMW,Skoda,...,Maruti,Hyundai,Volkswagen,Maruti,Ford,Chevrolet,Maruti,Renault,Maruti,Maruti
Model,Hyundai i20,Maruti Swift,Maruti Celerio,Hyundai Grand i10,Maruti Wagon R,Hyundai Verna,Hyundai Xcent,Skoda Superb,BMW X1,Skoda Superb,...,Maruti Wagon R,Hyundai EON,Volkswagen Polo,Maruti Alto,Ford Ecosport,Chevrolet Beat,Maruti Alto,Renault Kiger,Maruti Alto,Maruti Baleno
Model Year,2015,2012,2016,2017,2016,2007,2016,2011,2014,2011,...,2008,2014,2012,2002,2014,2011,2007,2022,2009,2018
Variant ID,1487,10403,3982,5602,4319,1796,1861,3217,345,3217,...,4347,1502,1955,3902,904,438,3917,8350,3904,3962
Variant Name,Asta 1.4 CRDi,VXI,VXI AT,1.2 Kappa Magna BSIV,AMT VXI,CRDi,1.2 Kappa S Celebration Edition,Elegance 2.0 TDI CR AT,sDrive20d,Elegance 2.0 TDI CR AT,...,LX Minor,Era Plus,Diesel Trendline 1.2L,LX,1.5 DV5 MT Ambiente,LT,STD,RXZ,Std,1.2 Delta
Price,509999,381000,320000,420000,350000,150000,488999,425000,1375000,450000,...,72000,160000,200000,40000,350000,108000,105000,850000,100000,500000
Location,jaipur,jaipur,jaipur,jaipur,jaipur,jaipur,jaipur,jaipur,jaipur,jaipur,...,jaipur,jaipur,jaipur,jaipur,jaipur,jaipur,jaipur,jaipur,jaipur,jaipur
Registration_Year,2015,2012,2016,2017,2016,2007,2016,2011,2014,2011,...,2008,2014,2012,2002,2014,2011,2007,2022,2009,2018
Insurance Validity,Third Party insurance,Third Party,Third Party insurance,Third Party insurance,Third Party insurance,Third Party insurance,Comprehensive,Third Party insurance,Comprehensive,Third Party insurance,...,Third Party insurance,Third Party insurance,Third Party insurance,Third Party insurance,Third Party insurance,Third Party insurance,Third Party insurance,Third Party insurance,Third Party insurance,Third Party insurance
Fuel Type,Diesel,Petrol,Petrol,Petrol,Petrol,Diesel,Petrol,Diesel,Diesel,Diesel,...,Petrol,Petrol,Diesel,Petrol,Diesel,Petrol,Petrol,Petrol,Petrol,Petrol
Car_Seats,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
RTO,RJ13,RJ14,RJ14,RJ14,RJ14,RJ14,RJ32,RJ14,DL02,RJ14,...,RJ14,RJ23,RJ20,RJ02,RJ14,RJ14,RJ30,RJ45,RJ14,UP82
Transmission,Manual,Manual,Automatic,Manual,Automatic,Manual,Manual,Automatic,Automatic,Automatic,...,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual
Engine_Displacement,1396,1197,998,1197,998,1493,1197,1968,1995,1968,...,998,814,1199,796,1498,1199,796,999,796,1197
Mileage_kmpl,22.540001,22.379999,23.1,18.9,20.51,16.799999,19.1,17.200001,17.049999,17.200001,...,18.9,21.1,22.07,19.700001,22.700001,18.6,19.700001,19.17,19.700001,21.4
Color,Others,White,Others,Silver,Silver,Gray,White,Others,Brown,Others,...,Others,Others,Others,Others,Others,Others,Others,Others,Others,Others
Engine Type,U2 CRDI Diesel Engine,K Series Dual jet,K10B Engine,Kappa VTVT Petrol Engine,K10B Petrol Engine,In-Line Engine,Kappa VTVT Petrol Engine,Turbocharged Diesel Engin,sDrive20d Diesel Engine,Turbocharged Diesel Engin,...,K Series Petrol Engine,Petrol Engine,In-Line Diesel Engine,In-Line Engine,TDCi Diesel Engine,Smartech Engine,In-Line Engine,1.0L energy,In-Line Engine,VVT Petrol Engine
No of Cylinder,4,4,3,4,3,4,4,4,4,4,...,3,3,3,3,4,4,3,3,3,4
Value Configuration,DOHC,NA,DOHC,DOHC,DOHC,DOHC,DOHC,DOHC,NA,DOHC,...,NA,SOHC,NA,SOHC,SOHC,DOHC,SOHC,NA,SOHC,DOHC
Fuel Suppy System,CRDI,NA,MPFi,MPFI,NA,CRDI,Direct Injection,Direct Injection,CRDi,Direct Injection,...,MPFI,MPFI,CRDI,MPFI,Direct Injection,MPFI,MPFI,MPFi,MPFI,MPFI
Turbo Charger,Yes,NA,No,No,No,No,No,Yes,Yes,Yes,...,No,No,No,No,Yes,No,No,NA,No,No
Super Charger,No,NA,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,NA,No,No
Drive Type,FWD,FWD,FWD,FWD,FWD,FWD,FWD,FWD,RWD,FWD,...,FWD,FWD,FWD,2WD,FWD,FWD,2WD,2WD,2WD,FWD
Steering Type,Power,Electric,Power,Power,Power,Power,Power,Power,Power,Power,...,Power,Power,Power,Manual,Power,Power,Manual,Electric,Manual,Power
Front Brake Type,Disc,Disc,Ventilated Disc,Disc,Ventilated Disc,Ventilated Disc,Disc,Disc,Ventilated Discs,Disc,...,Ventilated Disc,Disc,Disc,Disc,Ventilated Disc,Disc,Disc,Disc,Disc,Disc
Rear Brake Type,Drum,Drum,Drum,Drum,Drum,Disc & Drum,Drum,Disc,Ventilated Discs,Disc,...,Drum,Drum,Drum,Drum,Drum,Drum,Drum,Drum,Drum,Drum
Tyre Type,Tubeless,"Radial, Tubeless","Tubeless, Radial",Tubeless,Tubeless Tyres,"Tubeless,Radial",Tubeless,"Tubeless,Radial","Tubeless,Radial","Tubeless,Radial",...,"Tubeless, Radial",Tubeless,"Tubeless,Radial","Tubeless,Radial","Tubeless,Radial","Tubeless,Radial","Tubeless,Radial","Tubeless, Radial","Tubeless,Radial","Tubeless,Radial"
Alloy Wheel Size,16,NaN,NaN,NaN,NaN,14,NaN,16,17,16,...,14,NaN,14,12,NaN,14,12,16,12,NaN
No Door Numbers,5,5,5,5,5,4,4,4,5,4,...,4,5,5,5,5,5,5,5,5,5
Cargo Volumn,295.0,268.0,235.0,256.0,180.0,352.0,407.0,565.0,420.0,565.0,...,345.0,215.0,345.0,345.0,346.0,170.0,345.0,405.0,345.0,339.0
Max_Power,88.73,88.5,67.04,81.86,67.0,88.5,82.0,138.1,184.0,138.1,...,67.1,55.2,73.9,46.3,89.84,79.4,46.3,71.01,46.3,83.1
Torque_Nm,219.7,113.0,90.0,113.75,90.0,24.0,114.0,320.0,380.0,320.0,...,90.0,74.5,180.0,62.0,204.0,108.0,62.0,96.0,62.0,115.0
Wheel_Base,2570,2450,2425,2425,2400,2500,2425,2761,2760,2761,...,2400,2380,2456,2360,2520,2375,2360,2500,2360,2520
Rear_Tread,1503.0,1530.0,1410.0,1493.0,1290.0,1493.0,1493.0,1493.0,1529.0,1493.0,...,1290.0,1368.0,1493.0,1290.0,1524.0,1493.0,1290.0,1535.0,1290.0,1525.0
Front_Tread,1505.0,1530.0,1420.0,1479.0,1295.0,1480.0,1479.0,1480.0,1501.0,1480.0,...,1295.0,1386.0,1480.0,1295.0,1519.0,1480.0,1295.0,1536.0,1295.0,1515.0
Kerb_Weight,1515,23937,840,1100,890,1173,1100,1608,1485,1608,...,885,880,1115,705,1290,990,690,1012,690,870
Gross_Weight,1505,1335,1250,1505,1350,1650,1505,2124,1505,2124,...,1350,1505,1505,1140,1740,1505,1140,1505,1140,1340
Length_mm,3985,3845,3715,3765,3599,4310,3995,4838,4477,4838,...,3595,3495,3970,3495,3999,3640,3495,3991,3495,3995
Width_mm,1734,1735,1635,1660,1495,1695,1660,1817,2058,1817,...,1495,1550,1682,1475,1765,1595,1475,1750,1475,1745
Height_mm,1505,1530,1565,1520,1700,1490,1520,1482,1545,1482,...,1700,1500,1453,1460,1708,1520,1460,1605,1460,1510
Turning_Radius,5.2,4.8,4.7,4.8,4.6,5.05,4.7,5.4,5.8,5.4,...,4.6,4.6,4.97,4.6,5.3,4.85,4.6,4.6,4.6,4.9
Top_Speed_kmph,180.0,165.0,150.0,165.0,152.0,185.0,172.0,165.0,205.0,165.0,...,165.0,135.0,164.1,137.0,182.0,165.0,137.0,165.0,137.0,180.0
Acceleration_in_sec,11.9,13.57,15.05,12.9,18.6,11.2,14.2,13.57,7.9,13.57,...,13.57,19.0,14.4,17.7,13.5,13.57,17.7,13.57,17.7,12.36
Gear_Box_speed,6,5,5,5,5,5,5,6,8,6,...,5,5,5,5,5,5,5,5,5,5

In [812]:
import os
save_path = 'cardekho_cars.csv'

# Check if the file exists to determine whether to write the header
file_exists = os.path.isfile(save_path)

# Append to the CSV file
df_concatenated_columns.to_csv(save_path, mode='a', index=False, header=not file_exists)

In [813]:
df_full = pd.read_csv(save_path)

df_full.sample(10).T

,3681,3640,1686,2934,2369,1562,1506,2076,2007,3036
Fuel Type,Petrol,Diesel,Petrol,Petrol,Diesel,Petrol,Petrol,Petrol,Petrol,Petrol
Body Type,Hatchback,SUV,Hatchback,Hatchback,Hatchback,Sedan,Hatchback,Hatchback,Sedan,Sedan
Kilometers Driven,71501,47913,64447,63000,51000,67805,118937,44000,56242,51046
Transmission Type,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual
Number of Owners,1,1,1,2,1,1,1,1,1,2
Manufacturer,Hyundai,Mahindra,Datsun,Hyundai,Ford,Volkswagen,Maruti,Maruti,Honda,Honda
Model,Hyundai Grand i10,Mahindra TUV 300,Datsun GO,Hyundai i20,Ford Figo,Volkswagen Ameo,Maruti Swift,Maruti Ritz,Honda Amaze,Honda City
Model Year,2015,2017,2019,2013,2010,2017,2021,2011,2017,2018
Variant ID,1552,3752,6651,1654,1034,6305,10402,4141,6423,5628
Variant Name,Magna,T6,T Option Petrol,Sportz 1.2,Diesel Titanium,1.2 MPI Highline Plus,LXI,VXi,VX Petrol BSIV,i-VTEC VX
Price,325000,429000,432000,375000,299000,609000,590000,340000,579000,798000
Location,jaipur,jaipur,hyderabad,jaipur,hyderabad,hyderabad,hyderabad,hyderabad,hyderabad,jaipur
Registration_Year,2015,2018,2019,2013,2010,2017,2022,2011,2017,2018
Insurance Validity,Not Available,Not Available,Third Party insurance,Comprehensive,Third Party insurance,Zero Dep,Third Party insurance,Third Party insurance,Zero Dep,Third Party insurance
Fuel Type.1,Petrol,Diesel,Petrol,Petrol,Diesel,Petrol,Petrol,Petrol,Petrol,Petrol
Car_Seats,5,7,5,5,5,5,5,5,5,5
RTO,RJ14,MP33,TS22,RJ14,AP29,TS09,TS15,AP28,TS08,RJ02
Transmission,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual,Manual
Engine_Displacement,1197,1493,1198,1197,1399,1198,1197,1197,1199,1497
Mileage_kmpl,18.9,18.49,19.83,18.5,20.0,17.0,22.38,18.5,19.5,17.4
Color,StarDust,White,Orange,White,Others,Blue,Red,Silver,Brown,Silver
Engine Type,Kappa VTVT Petrol Engine,mHawk 100 Diesel Engine,Naturally Aspirated 12V DOHC EFI,Kappa VTVT Petrol Engine,Diesel Engine,MPI Petrol Engine,K Series Dual jet,K Series Petrol Engine,i-VTEC Petrol Engine,i VTEC Engine
No of Cylinder,4,3,3,4,4,3,4,4,4,4
Fuel Suppy System,DOHC,NaN,DOHC,DOHC,SOHC,DOHC,NaN,DOHC,SOHC,SOHC
Turbo Charger,MPFI,CRDi,Electronic Injection System,MPFI,Common Rail,MPFI,NaN,MPFI,MPFi,PGM-Fi
Drive Type,No,Yes,No,No,No,No,NaN,No,No,No
Steering Type,No,No,No,No,No,No,NaN,No,No,No
Front Brake Type,FWD,RWD,FWD,FWD,Front Wheel Drive,FWD,FWD,FWD,FWD,FWD
Rear Brake Type,Power,Power,Power,Power,Power,Power,Electric,Power,Power,Power
Tyre Type,Disc,Disc,Disc,Disc,Ventilated Discs,Disc,Disc,Ventilated Disc,Disc,Ventilated Disc
Alloy Wheel Size,Drum,Drum,Drum,Drum,Drum,Drum,Drum,Drum,Drum,Drum
No Door Numbers,Tubeless,"Tubeless,Radials",Tubeless,"Tubeless,Radial","Tubeless,Radial","Tubeless,Radial","Radial, Tubeless","Tubeless,Radial","Tubeless,Radial","Tubeless,Radial"
Cargo Volumn,NaN,NaN,14,14,14,16,NaN,NaN,14,16
Value Configuration,5,5,5,5,5,4,5,5,4,4
Super Charger,256.0,384.0,265.0,345.0,284.0,330.0,268.0,236.0,420.0,510.0
Max_Power,82.0,100.0,67.0,82.85,68.0,73.75,88.5,85.8,88.76,117.6
Torque_Nm,114.0,240.0,104.0,113.7,160.0,110.0,113.0,114.0,110.0,145.0
Wheel_Base,2425,2680,2450,2525,2489,2470,2450,2360,2470,2600
Rear_Tread,1493.0,1493.0,1495.0,1503.0,1495.0,1456.0,1530.0,1480.0,1495.0,1465.0
Front_Tread,1479.0,1480.0,1485.0,1505.0,1485.0,1460.0,1530.0,1470.0,1485.0,1475.0
Kerb_Weight,935,1735,846,1040,1130,1069,23937,1015,924,1084
Gross_Weight,1505,2225,1505,1505,1505,1505,1335,1430,1505,1459
Length_mm,3765,3995,3788,3995,3795,3995,3845,3775,3995,4440
Width_mm,1660,1835,1636,1710,1680,1682,1735,1680,1695,1695
Height_mm,1520,1826,1507,1505,1427,1483,1530,1620,1501,1495
Turning_Radius,4.8,5.35,4.6,4.6,4.9,4.8,4.8,4.7,4.5,5.3
Top_Speed_kmph,165.0,156.0,150.0,165.0,148.0,170.0,170.0,156.0,160.0,189.0
Acceleration_in_sec,12.9,13.9,13.0,13.57,14.8,13.0,13.0,15.0,15.0,9.64
Gear_Box_speed,5,5,5,5,5,5,5,5,5,5

In [816]:
df_full.isnull().sum()

Fuel Type                0
Body Type                2
Kilometers Driven        0
Transmission Type        0
Number of Owners         0
Manufacturer             0
Model                    0
Model Year               0
Variant ID               0
Variant Name             0
Price                    0
Location                 0
Registration_Year        0
Insurance Validity       0
Fuel Type.1              0
Car_Seats                0
RTO                      0
Transmission             0
Engine_Displacement      0
Mileage_kmpl             0
Color                    0
Engine Type              0
No of Cylinder           0
Fuel Suppy System      974
Turbo Charger          685
Drive Type             342
Steering Type          595
Front Brake Type         0
Rear Brake Type          0
Tyre Type                0
Alloy Wheel Size       468
No Door Numbers          0
Cargo Volumn           999
Value Configuration    336
Super Charger          310
Max_Power                0
Torque_Nm                0
Wheel_Base               0
Rear_Tread               0
Front_Tread              0
Kerb_Weight              0
Gross_Weight             0
Length_mm                0
Width_mm                 0
Height_mm                0
Turning_Radius           0
Top_Speed_kmph           0
Acceleration_in_sec      0
Gear_Box_speed           0
dtype: int64